<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>TerminalDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Terminal Id : ATL</ion-card-subtitle>
 
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
      <label>Name :</label> Atlanta
      </ion-row>
      <ion-row>
      <label>Phone :</label> 877-821-3274
      </ion-row>
      <ion-row>
      <label>Email Id :</label> tlanta@gmail.com
      </ion-row>
      <ion-row>
      <label>virtual Tour Link :</label> 
      </ion-row>
      <ion-row>
      <label>PM Contact :</label> 
      </ion-row>
      <ion-row>
      <label>Address "</label>363 Summerhouse Ave. 
      West Orange, NJ 07052
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Terminal Id : ATL</ion-card-subtitle>
   
      </ion-card-header>
    
      <ion-card-content>
        <ion-row>
        <label>Name :</label> Atlanta
        </ion-row>
        <ion-row>
        <label>Phone :</label> 877-821-3274
        </ion-row>
        <ion-row>
        <label>Email Id :</label> tlanta@gmail.com
        </ion-row>
        <ion-row>
        <label>virtual Tour Link :</label> 
        </ion-row>
        <ion-row>
        <label>PM Contact :</label> 
        </ion-row>
        <ion-row>
        <label>Address "</label>363 Summerhouse Ave. 
        West Orange, NJ 07052
        </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Terminal Id : ATL</ion-card-subtitle>
     
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
          <label>Name :</label> Atlanta
          </ion-row>
          <ion-row>
          <label>Phone :</label> 877-821-3274
          </ion-row>
          <ion-row>
          <label>Email Id :</label> tlanta@gmail.com
          </ion-row>
          <ion-row>
          <label>virtual Tour Link :</label> 
          </ion-row>
          <ion-row>
          <label>PM Contact :</label> 
          </ion-row>
          <ion-row>
          <label>Address "</label>363 Summerhouse Ave. 
          West Orange, NJ 07052
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Terminal Id : ATL</ion-card-subtitle>
       
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
            <label>Name :</label> Atlanta
            </ion-row>
            <ion-row>
            <label>Phone :</label> 877-821-3274
            </ion-row>
            <ion-row>
            <label>Email Id :</label> tlanta@gmail.com
            </ion-row>
            <ion-row>
            <label>virtual Tour Link :</label> 
            </ion-row>
            <ion-row>
            <label>PM Contact :</label> 
            </ion-row>
            <ion-row>
            <label>Address "</label>363 Summerhouse Ave. 
            West Orange, NJ 07052
            </ion-row>
          </ion-card-content>
        </ion-card>
</ion-content>
